*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --primary-color: #cb997e;
  --secondary-color: #ddbea9;
  --text-color: #ffe8d6;
  --secondary-text-color: #3f4236;
  --background-color: #6b705c;
  --border-color: #a5a58d;
}

.character-card {
  margin: 0;
  color: var(--secondary-text-color);
  background-color: var(--border-color);
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2em;
  padding-right: 2em;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  font-size: 1em;
}

.character-card img {
  height: 10em;
  grid-column: 1/2;
  align-self: center;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  grid-row: 1/5;
}

.character-card h2,
p {
  margin: 0.1em;
  text-align: left;
}

.character-card p {
  font-size: 0.8em;
}

.results {
  display: grid;
}
